$navbar-height: 78px;

$font-size-small: 0.9rem;

$dark-color: rgb(30,30,30);

$background-glass-dark: rgba(8, 8, 8, 0.6);
$background-glass-light: rgba(255, 255, 255, 0.7);
$background-glass-blur: blur(7px);
